

<div class="container">
  <img class="navbar-logo" src="/images/Logo.svg" alt="Logo" width="80">
  <header class="d-flex  py-3 list">
      
      <ul class="nav nav-pills" style="align-content: end; justify-content: end;">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/cryptoList" class="nav-link">Crypto List</a></li>
      </ul>
      
    </header>
  </div>